#presentacion {
    height: 150px;
    border-radius: 50%;
    width: fit-content;
    font-size: 15px;
    background-color: aqua;
}
hr {
    width: 1000px;
    height: 5px;
    background-color: cornflowerblue;
}
#contenidoD {
    margin: 10%;
}
p {
    font-size: 25px;
}
#fotoperro1 {
    width: 500px;
    height: 500px;
    border-radius: 20%;
}
#firulais {
    border-radius: 20%;
}
#pato {
    border-radius: 20%;
}
#creditos {
    width: fit-content;
}